<!DOCTYPE html>
<html lang="en">
<head>
<title>GOST</title>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div id="players"></div>
<input type="button" value="clear" id="clear-button"><br>
<div id="messages"></div>
<div id="list"></div>
<!--
<div id="container">
	<canvas id="board" width="900" height="600"></canvas>
	<ul id="players">
	
	</ul>
</div>-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="js/raphael-min.js"></script>
<script src="nowjs/now.js"></script>
<script src="js/gost-client.js"></script>
<script src="js/underscore.js"></script>

</body>
</html>
